body {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

#canvas-container {
  width: 100vw;
  height: 90vh;
}

#control-panel {
  margin: 10px;
}

input[type=range] {
  width: 150px;
}
